/* Add CSS Styling */

.odd {
    background-color: #ffb6c1;
    font-family: Verdana,'DejaVu Sans',sans-serif;
}


.odd.three {
    font-size: 24px;
}

#green {
    font-size: 24px;
    font-weight: bold;
    background-color: lightgreen;
}

#blue {
    color:blue;
    font-size: 36px;
}