body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin:10px auto;
}

.content {
  padding:16px 10px;
  background: #e3f4ff;
  margin: 10px 0;
}

.button-container {
  text-align: center;
  padding: 10px;
  background: #e3f4ff;
}

button {
  margin: 0 auto;
  display: block;
  background: white;
  border: 1px solid #eee;
  padding:8px 24px;
}